Project 1/cat-dog-panda/training/cat/cats_00001.jpg
Project 1/animal-data.zip
Project 1/cat-dog-panda/
Project 1/models/cat_dog_panda_classifier.pt
Project 2/opencv-pytorch-dl-course-classification.zip
Project 2/opencv-pytorch-dl-course-classification/
*.pt
